*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'General Sans', sans-serif;
    padding-inline: 1rem; 
    line-height: 1.5;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.6rem 3.6rem 0 3.2rem ;
    height: 7.2rem;
}

.list li{
    list-style: none;
}

.links{
    display: inline-block;
    text-decoration: none;
    color: #181e25 ;
}

.yt-btn{
    background-color: #fff;
    border: solid 0.1rem #dee4ed;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    padding: 1.1rem 2.2rem ;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: translateY(0.5rem);

    padding-top: 0.8rem;

    gap: 3.1rem;
    font-size: 2.2rem;
}

.nav-list li:last-child{
    padding-right: 2.8rem;
    padding-left: 1.8rem;
}

.hero{
    padding-top: 16rem ;
    text-align: center;
}

.podcast-link{
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 250px;
    color: #fff;
    background-color: #4094ec;
}

.chev-right{
    height: 2.2rem;
    transform: translate(0.3rem,0.5rem);
}

.head-para{
    text-align: center;
}

.hero-heading{
    font-size: 7.6rem;
    font-weight: 800;
    margin-top: 1.6rem;

    line-height: 1.3;

}

.free-span{
    background: -webkit-linear-gradient(-360deg,#4094ec,#06d6a0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-para{
    margin-top: 3.2rem;
    font-size: 2rem;
    width: 57%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.2px;
    line-height: 2.9rem;
    color: #5f7086;
}
.bold{
    color: #181e25;
    font-weight: 600;
}

.header-buttons{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.courses-link{
    font-size: 1.6rem;
    background-color: #4094ec;
    padding: 1.4rem 3.2rem;
    color: #fff;

    border-radius: 0.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.right-icon{
    height: 2rem;
    width: 2rem;
}

.yt-link{
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    padding: 1.4rem 3.6rem;
    color: #000;

    border: 1px solid #dee4ed;
    border-radius: 0.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.top-right-icon{
    height: 2rem;
    width: 2.2rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 3.2rem ;
}

.about-us{
    margin-top: 15rem;
    padding: 1.2rem 2.2rem ;
}

.about-head{
    font-size: 3.6rem;
    margin-bottom: 4rem;
    transform: translate(1.6rem,1.2rem);
}

.about-img{
    
    padding: 2.4rem 4rem;
    justify-self:center;
}

.about-content{
    font-size: 2rem;
    letter-spacing: 0.5px;
    
    line-height: 1.45;
}

.content-list{
    color:#5f7086;
    padding: 1rem 3rem;
}
.content-list > li {
    margin-bottom: 2.2rem;
}
.content-list > li:last-child {
    margin-bottom: 3.6rem;
}
  
.discord-link{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 28rem;
    text-decoration: none;
    background-color: #4094ec;
    padding: 1.2rem 2.4rem;
    color: #fff;

    border-radius: 0.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.right-icon-about{
    height: 2rem;
}

.second-head{
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.about-img-one{
    grid-column: 1/2;
}

.about-content-one{
    grid-column: 2/3;
    justify-self: center ;
    margin-right: 6.4rem;
    padding: 0rem 12.8rem;
}

.about-img-two{
    grid-column: 2/3;
}

.about-content-two{
    grid-row: 1/2;
    justify-self: self-end;
    padding: 0rem 12.8rem;
    justify-self:center;
}

.about-img-three{
    grid-column: 1/2;
}

.about-content-three{
    grid-column: 2/3;
    justify-self: center ;
    margin-right: 6.4rem;
    padding: 0rem 12.8rem;
}

.about-img-four{
    grid-column: 2/3;
}

.about-content-four{
    grid-row: 1/2;
    justify-self: self-end;
    padding: 0rem 12.8rem;
    justify-self:center;
}

.roadmap-link{
    padding: 1.2rem 1rem;
}

